/* Editor styling */

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}

/*singin.css */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.abcd img{
	height:150px;
	padding:15px;
	background:#ffffff;
	border: 1px solid #000000;
	margin:0 20px;
}

/*singin.css end*/

/*gallery css*/
/* Elastislide Style */

/*----*/
.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../img/black.png) repeat top left;
	-moz-border-bottom-left-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:300px;
	max-width:100%;
}

.single-gallery .rg-image img{
	max-height:500px;
}

.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../img/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 0px 0px 0px 2px;
	-webkit-border-radius: 0px 0px 0px 2px;
	border-radius: 0px 0px 0px 2px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../img/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../img/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position:relative;
	margin-top:10px;
}

.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:40px;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../img/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}
/*galery css end*/

body{
	color: #24221f;
	font-size:14px;
}

header.page-header{
	background:#f6a20e;
	padding: 10px 0;
	margin: 0;
	border:0;
}

header.page-header .logo{
	margin: 10px 0 10px;
}

header h1.page-title{
	font-family:"Times New Roman", Times, serif;
	text-transform: uppercase;
	font-size:30px;
	line-height:1;
	margin:0;
	padding:0;
}

@media (max-width: 768px) {
	header.page-header .logo{
		margin: 5px 0;
}
	
	header h1.page-title{
		font-size:24px;
		letter-spacing: -0.01em;
	}
}

header h1.page-title a{
	color:#000000;
}

header h1.page-title a:hover{
	text-decoration:none;
}

.navbar-custom {
  background-color: #000000;
  border:none;
  border-radius: 0;
  min-height:30px!important;
}

.dropdown-menu.custom-style{
	background-color: #000000;
}

.dropdown-menu.custom-style a{
	color: #9d9d9d;
}

.dropdown-menu.custom-style a:hover{
	background: inherit;
	color: #ffffff;
}

.navbar-custom .navbar-brand{
	height:45px;
}

.navbar-custom p.navbar-brand{
	padding:0 15px;
	margin:0;
}

.navbar-custom .navbar-brand a{
	color:#fff;
	line-height:12px;
	font-size: 13px;
}

.navbar-custom .navbar-toggle{
	margin-top: 5px;
	margin-bottom: 2px;
	border-color:#9d9d9d;
}

.navbar-custom {
  background-image: -webkit-linear-gradient(top, #080808 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #080808 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#000000));
  background-image: linear-gradient(to bottom, #080808 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff000000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.navbar-custom .navbar-nav.contact a:hover{
	text-decoration:underline;
}

.btn-custom {
  color: #fff;
  background-color: #000000;
  border-color: #d9d9d9;
}

.btn-custom:hover, .btn-custom:focus {
  	background-color: #080808;
  	background-position: 0 -15px;
	color: #feb41c;
 	border-color: #00000;
}

.btn-custom {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #080808 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #080808 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#08080808), to(#000000));
  background-image: linear-gradient(to bottom, #080808 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff000000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d9d9d9;
}

p.page-content{
	font-size:16px;
}

.panel-custom{
	border-color:#5e7c88;
}

.panel-custom > .panel-heading{
	background: #000000;
	color: #ffffff;
	border-color:#5e7c88;
}

.panel-custom > .panel-body{
	background: #f6a20e;
	color:#24221f;
	min-height:155px;
	padding:15px 15px 0 15px; 
}

.panel-custom .panel-body p:last-child{
	margin:0;
}

.panel-custom > .panel-footer{
	background: #f6a20e;
	border-color:transparent;
	text-align:center;
}

.panel-custom > .panel-heading > .panel-title{
	font-size:16px;
	text-align:center;
}

.testimonials .testimonial{
	margin-bottom:20px;
}

.testimonials span.testimonial-head, .testimonials span.testimonial-head a{
	color:#4b5f6d;
	font-size:18px;
	font-weight: bold;
	font-style: italic;
	display:block;
}

.testimonials span.testimonial-date{
	font-size:12px;
	color:#999999;
	font-style:italic;
}

.testimonials .testimonial-content{
    background:url('../img/quote-icon.png') 20px 0 no-repeat;
    padding: 30px 0 0 80px;
	min-height:50px;
	color:#363f45;
	font-style:italic;
	border-bottom:1px dashed #d9d9d9;
}

.testimonials .testimonial-content.article{
	background:none;
	padding: 10px 0 10px 30px;
	min-height:50px;
	color:#363f45;
	font-style:italic;
	border-bottom:1px dashed #d9d9d9;
}

footer{
	background:#000000;
	border-top:10px solid #f6a20e;
	min-height:50px;
	color:#d9d9d9;
	font-size:14px;
}

footer h3{
	border-bottom:1px solid #5e7c88;
}

footer ul{
	list-style: none;
	padding-left:10px;
}

footer a{
	color:#5e7c88;
	margin-bottom:2px;
	display:inline-block;
}

footer a:hover{
	color:#d9d9d9;
}

footer .copyright{
	color: #ffffff;
	margin-bottom:25px;
	text-align:center;
}

.sitemap a{
	display: block;
}

.sitemap ul{
	list-style:none;
	padding-top:5px;
}

.sitemap p{
	margin-bottom:0;
}

.contact-info a, .sitemap a{
	color:#5e7c88;
}

.contact-info a:hover, .sitemap a:hover{
	color: #24221F;
}

.map{
	border:10px solid #000000;
}

.map iframe{
	border:10px solid #F6A20E;
	display: block;
}

.gallery-cover{
	width:100%;
}

.gallery-cover img{
	max-width: 100%;
	display:block; 
}

.gallery-cover-img{
	width:100%;
	max-height:125px;
	overflow: hidden;
}

.gallery-cover-img img{
	width:100%;
	display: block;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-custom .navbar-nav > li > a, .navbar-custom a.navbar-brand  {
 		font-size:13px;
 		letter-spacing:-0.01em;
 		padding: 5px 7px;
	}
	
	.navbar-custom .navbar-nav.contact a{
		font-size:13px;
		padding:5px 3px;
		color:#FFFFFF;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-custom .navbar-nav > li > a, .navbar-custom a.navbar-brand  {
 		font-size:14px;
 		padding: 5px 15px;
	}
	
	.navbar-custom .navbar-nav.contact a{
		font-size:13px;
		padding:5px;
		color:#FFFFFF;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.panel-custom > .panel-body{
		min-height:115px; 
	}
}

/* navbar collapse at 990px*/ 
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/*navbar collapse end;*/
